.title_events{
    font-family: "Alike";
    font-size: 25px;
 color: #000;
    /* color: #b08334; */
    height: 200px;
    margin-top: 50px;

     position: relative;
 }
 .event_logo{
     width: 100%;
     padding-top: 50px;
 /* position: absolute; */

     /* top:-70px; */
     font-size: 60px;
     font-family:  "Alike";
     font-weight: 200;
     /* color: #b08334; */
   color: #000000;
 }
 
 .text {

     /* left: 35%; */
  
     margin-top: 20px;

     width: 1000px;
     height: 50px;
 background-color: #fff;
     /* box-shadow: 0 0 25px  rgb(250, 128, 114); */
     /* border-bottom: 1px solid black; */
 
     align-items: center;
     text-align: center;
     font-size: 30px;
     font-family:  "Alike";
     font-weight: 600;
     margin-top: 10px;
     margin-bottom: 20px;
    padding-top: 15px;
   }

   @media (max-width: 376px){

    .title_events{ 
        font-family: "Alike";
        font-size: 15px;
     color: salmon;
        /* color: #b08334; */
        height: 400px;
        margin-top: 0px;
        width: 350px;
      
         position: relative;
     }
     .event_logo{
         width: 360px;
         padding-top: 50px;
     /* position: absolute; */
    
         /* top:-70px; */
         font-size: 30px;
         font-family:  "Alike";
         font-weight: 200;
         /* color: #b08334; */
       color: salmon;
     }
     
     .text {
     margin-top: 20px;
    margin-left: 20px;
         width: 300px;
         height: 30px;
     background-color: #fff;
         /* box-shadow: 0 0 15px  rgb(250, 128, 114);
         border-radius: 19px; */
         align-items: center;
         text-align: center;
         font-size: 15px;
         font-family:  "Alike";
         font-weight: 300;
         margin-top: 20px;
        padding-top: 15px;
       }



   }