.about_andrei_title{

    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
text-align: left;
    margin-left: 700px;
justify-content: space-between;
margin-top: 200px;
   line-height: 60px;
}
.about_andrei_title p {
    font-family: 'Alike';
    font-size: 30px;
    font-weight: 500;
    /* color: #b47404; */
  color: black;
}
.wrapper{
overflow-y: auto;
    overflow-x: hidden;
    perspective: 5px;
}

header{
 position: relative;
 display: flex;
 transform-style: preserve-3d;
 z-index: -1;

height: 550px;
}


.wrapper img {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
  height: 1100px;
  width: 1300px;

right: 1000px;
}

@media (max-width: 376px){
  .about_andrei_title{
 
    height: 450px;
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
  margin-top: 00px;
   
}
.about_andrei_title p {
    display: none;
    font-family: 'Alike';
    font-size: 15px;
    font-weight: 500;
    /* color: #b47404; */
  color: rgb(11, 11, 11);
}
.wrapper{
 
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
}

header{

 position: relative;
 display: flex;
width: 350px;
 height: 10%;
 transform-style: preserve-3d;
 z-index: -1;
}
.wrapper img {
  position: absolute;
  object-fit: contain;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
  height: 400px;
  width: 350px;
border:1px solid red;
right: -0px;
}

}

@media (min-width:377px) and (max-width: 420px){

  .about_andrei_title{
 
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 0px;
  margin-top: 00px;
   
}
.about_andrei_title p {
    display: none;
    font-family: 'Alike';
    font-size: 15px;
    font-weight: 500;
    /* color: #b47404; */
  color: rgb(11, 11, 11);
}
.wrapper{
 
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
}

header{

 position: relative;
 display: flex;

 height: 10%;
 transform-style: preserve-3d;
 z-index: -1;
}
.wrapper img {
  position: absolute;
  object-fit: contain;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
  height: 400px;
  width: 400px;

right: -50px;
}




}
